
    <link rel=stylesheet type=text/css href="/public/home/ss/css/cnbtc2014.css" />
    <link rel="stylesheet" href="/public/home/ss/css/module.base.css">
    <link rel="stylesheet" href="/public/home/ss/css/module.common.css">
    <script src="/public/home/ss/js/module.base.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/module.lang.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/sea.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/sea.config.js" charset="UTF-8"></script>

    <link href="/public/home/ss/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/home/ss/css/font_j96emwpaovzehfr.css" rel="stylesheet">
 
    <!--[if lt IE 9]>
    <script src="/public/home/ss/js/html5shiv.min.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/respond.min.js" charset="UTF-8"></script>
    <![endif]-->
    <script type="text/javascript" src="/public/home/ss/js/webcommon.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/jquery.imgscroll.js" charset="UTF-8"></script>
    <!--script type="text/javascript">
        if(JuaBox.isMobile()){
            document.writeln("<style type=\"text/css\">");
            document.writeln(".container, .bk-nav.navbar, .bk-footer, .bk-body, .bg-login, .Jua-showTip {min-width: 980px !important;}  ");
            document.writeln("</style>");
        }
    </script-->
	<link rel="stylesheet" href="/public/home/ss/css/module.index.css">
    <script src="/public/home/ss/js/module.highstock.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/jsencrypt.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/jquery.peity.js" charset="UTF-8"></script>
    <script src="/public/home/ss/js/ifvisible.js" charset="UTF-8"></script>

    <style>
        .bk-body { position:relative; }
        .listcent .h5 { height-top:50%; }
    </style>

    <link rel="stylesheet" href="/public/home/ss/css/home.css">


</head>
<!--body class="room" lang="zh-CN"-->
<!--<script type="text/javascript">
    $(function(){
        $.getJSON("/getPubTag?d="+new Date().getTime(),  function(json) {
            $('input[name="pubTag"]').val(json.datas.pubTag);
        });
    });
    // 10分钟不操作页面自动刷新一次，防止页面变卡
    var interval = 60 * 10;
    ifvisible.setIdleDuration(interval);
    ifvisible.idle(function(){
        window.location.reload();
    });
</script>-->
<div class="bk-body" >
    <!-- Common TopMenu Begin -->
    <!--script type="text/javascript">
        var NEED_PUSH_DATA_PRICE = 'true'; // 是否需要推送行情价格
    </script-->

    <!--[if lt IE 9]>
    <div class="alert alert-warning text-left" role="alert" style="margin-bottom:0; border-radius:0;position:relative;z-index:999999;">
        <p><i class="fa fa-exclamation-triangle fa-fw"></i>你的浏览器不支持ZB.COM的一些新特性，请升级或更换你的浏览器至以下新版本。</p>
        <p>
            <a class='alert-link' href="#" target="_blank">(1)、谷歌浏览器(百度下载)</a><br>
            <a class='alert-link' href="#" target="_blank">(2)、谷歌浏览器(官方下载)</a><br>
            <a class='alert-link' href="#" target="_blank">(3)、火狐浏览器</a><br>
            <a class='alert-link' href="#" target="_blank">(4)、360极速浏览器</a>
        </p>
        <p>HTML5时代已经来临，是时候换个浏览器了...</p>
    </div>
    <![endif]-->
