<style>
    .header-sliding .nav {
        margin: 0px;
        padding: 0px;
        list-style: outside none none;
    }

    .header-sliding {
        position: relative;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 0px 45px 0px 60px;
        background: none repeat scroll 0% 0% rgb(255, 255, 255);
        width: 100%;
        min-width: 1300px;
        height: 74px;
        transition: top 0.5s linear 0s;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .header-sliding-left {
        flex: 1 1 0%;
        background: url("/Public/Home/image/common/nav_bg.0e86e2c.png") no-repeat scroll 100% center transparent;
    }

    .header-sliding .left .coin .img {
        width: 146.5px;
        height: 40.5px;
        /*background: url("/Public/Home/image/common/logo_bc.png") no-repeat scroll 0% 0% / transparent;*/
        background-repeat: no-repeat;
        background-size: 100% 100% ;
    }

    .header-sliding .left .line {
        width: 1px;
        height: 24px;
        background: none repeat scroll 0% 0% rgb(226, 234, 251);
        margin: 0px 40px;
    }

    .header-sliding .left .nav div .a, .header-sliding .left .nav div a {
        display: block;
        height: 74px;
        line-height: 74px;
        text-decoration: none;
        font-size: 14px;
        color: rgb(108, 133, 174);
        margin-right: 30px;
    }

    @media screen and (max-width: 1360px) {
        .header-sliding .left .nav div .a, .header-sliding .left .nav div a {
            margin-right: 18px;
        }
    }

    .header-sliding .left .nav div .a.active, .header-sliding .left .nav div a.active {
        border-bottom: 2px solid #0976d9;
        color:#0976d9;
    }

    .header-sliding .left .nav div .a:hover, .header-sliding .left .nav div a:hover {
        color: #0976d9;
    }

    .header-sliding .advertising-b {
        height: 75px;
    }

    .header-sliding .advertising-b .newsAdv {
        width: 80px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        background-color: rgb(89, 122, 185);
        border-radius: 3px;
    }

    .header-sliding .advertising-b .newsAdv:hover {
        background: none repeat scroll 0% 0% rgb(74, 109, 174);
    }
    .header-sliding .right .go a, .header-sliding .right .login a {
        font-size: 14px;
        color: rgb(108, 133, 174);
        text-decoration: none;
    }

    .header-sliding .right .go a:first-child, .header-sliding .right .login a:first-child {
        margin-right: 10px;
    }

    .header-sliding .right .go a:hover, .header-sliding .right .login a:hover {
        color: rgb(17, 34, 102);
    }

    .header-sliding .right {
        margin-left: 10px;
    }

    .header-sliding .right .line {
        margin: 0px 15px;
        width: 1px;
        height: 11px;
        background-color: rgb(108, 133, 174);
    }

    .header-sliding .left .nav div .down, .header-sliding .right .login.down {
        position: relative;
        padding-right: 14px;
        height: 74px;
        cursor: pointer;
    }

    .header-sliding .left .nav div .down div, .header-sliding .right .login.down div {
        position: absolute;
        display: none;
        top: 60px;
        left: 50%;
        margin-left: -58px;
        padding: 16px 0px;
        width: 116px;
        background-color: rgb(248, 249, 251);
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(99, 99, 99, 0.4);
    }

    .header-sliding .left .nav div .down div:after, .header-sliding .right .login.down div:after {
        position: absolute;
        top: -4px;
        left: 50%;
        margin-left: -4px;
        width: 8px;
        height: 8px;
        background-color: rgb(248, 249, 251);
        content: "";
        transform: rotate(45deg);
        border-radius: 2px 0px 0px;
        box-shadow: -2px -2px 2px rgba(99, 99, 99, 0.1);
    }

    .header-sliding .left .nav div .down div a, .header-sliding .right .login.down div a {
        display: block;
        margin-right: 0px;
        width: 116px;
        height: 34px;
        line-height: 34px;
        text-align: center;
    }

    .header-sliding .left .nav div .down div a:hover, .header-sliding .right .login.down div a:hover {
        background-color: rgb(239, 241, 246);
    }

    .header-sliding .left .nav div .down:hover div, .header-sliding .right .login.down:hover div.hoverDiv {
        display: block;
    }

    .header-sliding .left .nav div .down:hover:before, .header-sliding .right .login.down:hover:before {
        background-image: url("/Public/Home/image/ad/up.png");
    }

    .header-sliding .left .nav div .down:before, .header-sliding .right .login.down:before {
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -2px;
        content: "";
        width: 7px;
        height: 5px;
        background-image: url("/Public/Home/image/ad/down.png");
    }
    .advertising-b .message {
        position: relative;
        display: block;
        margin-right: 30px;
        width: 24px;
        height: 25px;
        background-image: url(/Public/Home/image/common/message.png);
    }
    .advertising-b h2{
        margin-right: 30px;
        font-weight: 700;
        font-size: 14px;
        color: #6c85ae;
    }
     .header-sliding .right .login.openDown:before{
        width:0!important;
        height:0!important;
    }
</style>

<div class="header-sliding flex-box flex-direction-row flex-justify-between flex-align-item-center flex-wrap-nowrap" data-v-314f53c6=""  style="background:#12122a;">
    <div class="header-sliding-left flex-box flex-direction-row flex-justify-between flex-align-item-start flex-wrap-nowrap">
        <div class="left flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
            <div class="coin">
                <a href="/Index/index">
                    <div class="img cn" style="background-image: url('/Upload/public/5cd91668310ac.png'); width:115px;height:45px;"></div>
                </a>
            </div>
            <div class="line"></div>
            <div class="nav flex-box flex-direction-row flex-justify-start flex-align-item-start flex-wrap-nowrap">
                <div class="flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
                    <a onclick="cy()"  class="nuxt-link-exact-active nuxt-link-active" >{$GLOBALS['c2c']}</a>
                </div>
				
				<script>
					function cy(){
						var uid = "{$uid}";
						var zhifubao = "{$c2c_user['zhifubao']}";
						var weixin = "{$c2c_user['weixin']}";
						var bank = "{$c2c_user['bank']}";
						var paypwd = "{$c2c_user['paypassword']}";
						//alert(zhifubao);
						if(uid>0){
							if((zhifubao == '' || zhifubao=='NULL')&&(weixin == '' || weixin=='NULL')&&(bank == '' || bank=='NULL')){
								layer.msg('请设置收款方式', {icon: 2});
								location.href="/User/myCenter";
							}
							else if(paypwd == "" || paypwd == "NULL"){
								layer.msg('请设置资金密码', {icon: 2});
								location.href="/User/resetFiancePwd";
							}else{
								location.href="/C2c/index/market/jeff/money/0";
							}
							
						}else{
							layer.msg('请先登录', {icon: 2});
							location.href="/C2c/index/market/jeff/money/0";
						}
					}
				</script>
                <div class="flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
                    <div class="a down">
                        {$GLOBALS['trade-manage']}
                        <div>
                            <a onclick="orders(1)"  class="">{$GLOBALS['myAd']}</a>
                            <a onclick="orders(2)"  class="">{$GLOBALS['myOrder']}</a>
                        </div>
                    </div>
                </div>
                <div class="flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
                    <a href="/Article/officialAdModal" target="_blank" >{$GLOBALS['office-notice']}</a>
                </div>
               <!--  <div class="flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
                    <a href="/User/peakfire"  class="">认证商家</a>
                </div> -->
            </div>
        </div>
        <div class="advertising-b flex-box flex-direction-row flex-justify-end flex-align-item-center flex-wrap-nowrap">
             <!--<h2>承诺OTC永久免费！</h2>
            <a class="message">
               </a>-->
               
            <!--<a href="/User/publishAd" class="newsAdv" >{$GLOBALS['publish-ad']}</a>-->
             <a onclick="logins();" class="newsAdv" >{$GLOBALS['publish-ad']}</a>
        </div>
    </div>
    <div class="right flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
        <div class="go">
            <a href="/Trade/index/market/eth_jeff">{$GLOBALS['go-trade']}</a>
            <a onclick="qianbao();">{$GLOBALS['qianbao']}</a>
        </div>
        <div class="line"></div>
        <div class="login down flex-box flex-direction-row flex-justify-start flex-align-item-center flex-wrap-nowrap">
            <!-- <neq name="userId" value=" "> -->
            <if condition="$_SESSION['userName'] neq ''">
                <a href="/User/myCenter" title="{$_SESSION['userName']}" class="name">{$GLOBALS['user']}：<span id="userName">{$_SESSION['userName']}</span></a>
                <div class="hoverDiv">
                    <a href="/User/myCenter"  class="">{$GLOBALS['myCenter']}</a>
                    <a onclick="loginout();">{$GLOBALS['loginout']}</a>
                </div>
            <else/>
                <a href="/Login/register?login">{$GLOBALS['login']}</a>
                <div class="line line-10"></div>
                <a href="/Login/register?register">{$GLOBALS['register']}</a>
            </if>
        </div>
    </div>
    <!---->
</div>

<script>
function loginout(){
						$.post("/Login/loginout",{},function(data){
							if(data.status==1){
								layer.msg(data.info,{icon:1});
								window.setTimeout("window.location='/Index'",1000);
							}
						},"json");
					}

    function logins(){
        var uid = "{$uid}";
						var zhifubao = "{$c2c_user['zhifubao']}";
						var weixin = "{$c2c_user['weixin']}";
						var bank = "{$c2c_user['bank']}";
						var paypwd = "{$c2c_user['paypassword']}";
						//alert(zhifubao);
						if(uid>0){
							if((zhifubao == '' || zhifubao=='NULL')&&(weixin == '' || weixin=='NULL')&&(bank == '' || bank=='NULL')){
								layer.msg('请设置收款方式', {icon: 2});
								location.href="/User/myCenter";
							}
							else if(paypwd == "" || paypwd == "NULL"){
								layer.msg('请设置资金密码', {icon: 2});
								location.href="/User/resetFiancePwd";
							}else{
								location.href="/User/publishAd/coin/jeff";
							}
							
						}else{
							layer.msg('请先登录', {icon: 2});
							location.href="/C2c/index/market/jeff/money/0";
						}
    }
    
    function qianbao(){
        var uid = "{$uid}";
        if(uid.length > 0){
            location.href="/Finance/qianbao";
        }else{
            layer.msg("{$GLOBALS['first-login']}",{icon : 2 });
// 			location.href="/Login/register";
        }
    }
    
    function orders(id){
        // alert(id);return false;
        var uid = "{$uid}";
        if(id == 1){
            if(uid.length > 0){
                location.href="/User/myAd";
            }else{
                layer.msg("{$GLOBALS['first-login']}",{icon : 2 });
            }
        }else if(id == 2){
            if(uid.length > 0){
                location.href="/Otc/otclst";
            }else{
                layer.msg("{$GLOBALS['first-login']}",{icon : 2 });
            }
        }
        
    }
    if($(".login").find("a:first-child").html()=="登录"){
        $(".login").addClass("openDown");
    }

    /*隐藏手机号中间4位*/
    var phone = $('#userName').html();
    var mphone = phone.substr(0, 3) + '****' + phone.substr(7);
    $('#userName').html(mphone);
</script>

