<include file="Public:header" />

<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
		<a href="/" class="">首页 </a> &gt; 
		<a href="/user/index.html" class="">安全中心 </a> &gt;实名认证
		</div>
	<div class="main-content">
		<style>
	.nav-tab-list .nav-tab-hover{
		width:100%;
		top:60px;
		height:50px;
		line-height:50px;
		background:#EAEDF4;
		position:absolute;
		box-sizing:content-box;
		z-index:1;
		transition:all 0.5s;
		-webkit-transition:all 0.5s;
		display:none;
	}
</style>
<script type="text/javascript">
	$(function () {
		(function () {
			var tab   = $('.nav-tab-list dd');
			var hover = $('.nav-tab-hover');
			var pos   = 0;
			tab.each(function (index) {
				var $this = $(this);
				if ($this.hasClass('active')) {
					pos = index;
				}
				$this.hover(function () {
					_moveTo(index);
				}, function () {
					_moveTo(pos);
				});
			});
			_moveTo(pos);
			$('.nav-tab-hover').show();
			function _moveTo(index) {
				hover.css("top", 60 + 50 * index);
				tab.removeClass('active');
				tab.eq(index).addClass('active');
			}
		})();
	});
	$(window).on('scroll resize', function () {
		if (document.body.scrollTop < 100) {
			$('#left-nav-bar').css("top", 0);
		} else if (document.body.scrollTop > ($('.tag-list-content').height() - $('#left-nav-bar').height() + 100)) {
			$('#left-nav-bar').css("top", ($('.tag-list-content').height() - $('#left-nav-bar').height()));
		} else {
			$('#left-nav-bar').css("top", document.body.scrollTop - 100);
		}
	});
</script>

<include file="User:left" />




		<link rel="stylesheet" href="/public/home/ss/css/cnbtc2014.css">
    <link rel="stylesheet" href="/public/home/ss/css/module.base.css">
    <link rel="stylesheet" href="/public/home/ss/css/module.common.css">
    <script src="/public/home/ss/js/webcommon.js" charset="UTF-8"></script>
    <link rel="stylesheet" href="/public/home/ss/css/module.user.css">
    <link rel="stylesheet" href="/public/home/ss/css/upload.css">
    <link rel="stylesheet" href="/public/home/ss/css/safe.css">

    <style>
        .uploadipic .pm-itemcont .item .upload input[type=file] {  width:202px; height:180px; }
        .uploadipic .pm-itemcont .item .upload  a, .uploadipic .pm-itemcont .item .upload, .uploadipic .pm-itemcont .item {  width:202px; height:180px;  }
    </style>
<div class="bk-body" style="height:auto">

    <!--页面中部内容开始-->
    <div class="bk-onekey">
        <div class="bk-safe">
            <div class="container">






                <div class="safe-rd snav-rd">

                    <div class="authbody">

                        <div class="container">

                            <style>
                                #photoA { width:202px; height:180px; background:url(/public/home/ss/images/a.jpg) center center no-repeat; background-size:cover; cursor:pointer; float:none; border:1px solid #eee; }
                                #photoB { width:202px; height:180px; background:url(/public/home/ss/images/b.jpg) center center no-repeat;  background-size:cover; cursor:pointer; float:none; border:1px solid #eee;}
                                #photoC { width:202px; height:180px; background:url(/public/home/ss/images/c.jpg) center center no-repeat;  background-size:cover; cursor:pointer; float:none; border:1px solid #eee;}
                            </style>

                            <h3>1、提交证件信息</h3><br /><br /><br />
                            <div>
                                <div class="form-line row">
                                    <div class="col-sm-4 textright">证件姓名：</div>
                                    <div class="col-sm-7">
                                        <input type="text"
                                               class="form-control form-second pull-left inputlong smallfont"
                                               name="realName" id="realName" value="史美" position="s"
                                               mytitle="请填写有效的银行卡号" errormsg="证件姓名错误" pattern="limit(10,30)"
                                               disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-line row">
                                    <div class="col-sm-4 textright">身份证号码：</div>
                                    <div class="col-sm-7">
                                        <input type="text"
                                               class="form-control form-second pull-left inputlong smallfont"
                                               name="documentNumber" id="documentNumber" value="412801198903020323"
                                               position="s" mytitle="请填写有效的证件号码" errormsg="证件号错误"
                                               pattern="limit(10,30)">
                                    </div>
                                </div>





                            </div>
                            <div id="cn-form" class="">






                                <div class="row uploadipic" style="color:#3c515e;">
                                    <div id="frontalImgDiv" class="col-sm-4">
                                        <p>
                                            手持身份证<a data-toggle="popover" data-placement="top" data-trigger="hover"
                                                    data-html="true"
                                                    data-content="&lt;img src=&#39;https://s.bitkk.com/statics/img/v2/user/zhengdemo3qx.jpg&#39;  style=&#39;width:237px; height:237px;&#39;&gt;"
                                                    data-original-title="" title=""></a>
                                        </p>
                                        <div class="pm-itemcont" id="photoA" errorname="手持证件照"><input
                                                    style="width:0px;height:0px;margin:0 0 0 100px;border:none;padding:0px;"
                                                    position="s" type="text"
                                                    pattern="fileIsUploading('upload_pics_path_hidden_id_1');fileNumIsRight(1 , 'upload_pics_path_hidden_id_1')"
                                                    errormsg="你至少上传1张图片" id="upload_pics_path_hidden_id_1"
                                                    name="loadImg">
                                            <form name="uploadForm_1" action="https://img1.bitkk.com/fileaction"
                                                  enctype="multipart/form-data" method="post" target="uploadTar">
                                                <div class="item "><span class="preview"><a>请上传</a><span
                                                                class="deal-file"><em class="left"></em><em
                                                                    class="right"></em><em
                                                                    class="del"></em></span></span><span
                                                            class="upload "><a href="javascript:;"><input type="file"
                                                                                                          name="_fma.pu._0.ima"></a></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="backImgDiv" class="col-sm-4">
                                        <p>
                                            证件正面图<a data-toggle="popover" data-placement="top" data-trigger="hover"
                                                    data-html="true"
                                                    data-content="<img src='https://s.bitkk.com/statics/img/v2/user/zhengdemo2qx.jpg'  style='width:237px; height:237px;'>"
                                                    data-original-title="" title=""></a>
                                        </p>
                                        <div class="pm-itemcont" id="photoB" errorname="证件正面图">
                                            <form name="uploadForm_1" action="https://img1.bitkk.com/fileaction"
                                                  enctype="multipart/form-data" method="post" target="uploadTar">
                                                <div class="item "><span class="preview"><a>请上传</a><span
                                                                class="deal-file"><em class="left"></em><em
                                                                    class="right"></em><em
                                                                    class="del"></em></span></span><span
                                                            class="upload "><a href="javascript:;"><input type="file"
                                                                                                          name="_fma.pu._0.ima"></a></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="loadImgDiv" class="col-sm-4">
                                        <p>
                                            证件背面图<a data-toggle="popover" data-placement="top" data-trigger="hover"
                                                    data-html="true"
                                                    data-content="<img src='https://s.bitkk.com/statics/img/v2/user/zhengdemo1qx.jpg'   style='width:237px; height:237px;'>"
                                                    data-original-title="" title=""></a>
                                        </p>
                                        <div class="pm-itemcont" id="photoC" errorname="证件背面图">
                                            <form name="uploadForm_1" action="https://img1.bitkk.com/fileaction"
                                                  enctype="multipart/form-data" method="post" target="uploadTar">
                                                <div class="item "><span class="preview"><a>请上传</a><span
                                                                class="deal-file"><em class="left"></em><em
                                                                    class="right"></em><em
                                                                    class="del"></em></span></span><span
                                                            class="upload "><a href="javascript:;"><input type="file"
                                                                                                          name="_fma.pu._0.ima"></a></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>

                    <div class="do mb15">
                        <a href="javascript:depthSave()" class="btn btn-outsecond btn-lg "><i class="fa fa-check fa-lg  fa-fw"></i>&nbsp; 提交认证信息</a>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>
</div>





<script>
					var hints = "0";
					if(hints == 1){
						$('#hints').show();
					}
				</script>
<script>
    $(document).ready(function () {
        //响应文件添加成功事件
        $("#inputfile").change(function () {
            //创建FormData对象
            var data = new FormData();
            //为FormData对象添加数据
            $.each($('#inputfile')[0].files, function (i, file) {
                data.append('upload_file' + i, file);
            });


            //发送数据
            $.ajax({
                url: '/ajax/imgUser',
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,		//不可缺参数
                processData: false,		//不可缺参数
                success: function (data) {
                    if (data) {
						if(data=="error"){
							alert("请选择正确的文件类型和大小！");
							return false;
						}
						
						if(data=="error2"){
							alert("您已经上传了3张图片！");
							return false;
						}
					
						  $('<img />', {
							src : '/Upload/idcard/' + data,
							height : "100px",
							
						  }).appendTo($('.set_upload_img'));
					
						
					
						$('.set_upload_img').show();

						if($('.set_upload_img').find('img').length >= 3){
							$('#shang_zhisucom_chuandiv').hide();
							alert("您已经成功上传3张认证图片,请等待审核");
						}
					
                    }
                },
                error: function () {
                    alert('上传出错');
					$('.set_upload_img').hide();
                    //$(".loading").hide();	//加载失败移除加载图片
                }
            });

        });
    });

</script>
<script>
	$('.user_truename').addClass('active');
</script>






<include file="Public:footer" />