<include file="Publics:header-black" />

<link rel="stylesheet" type="text/css" href="/zhisucom/css/zijinmima.css"/>
<style>
        #zhu-right-main{width: 77%;float: right; margin: 10px auto; padding:0 20px;box-sizing:border-box;min-width:auto !important;border-top:none;}
       
  #zhu-right-main .m_title{font-size: 17px;height: 42px;width: 100%;color: #111;border-bottom: 1px solid #C8DAE2; margin: 10px 0 20px;line-height: 46px;text-align:left;}
  #zhu-right-main .m_title h4{text-align:left;}
  #zhu-form{width:100%;}
        #zhu-form dl{overflow:hidden;width:100%;margin-bottom:20px;}
        #zhu-form .zhu-floatlq{font-weight:bold;width:25%;text-align:right;height:42px;line-height:42px;}
        #zhu-form .zhu-floatlq1{width:75%;}
  #zhu-form .zhu-floatlq label{margin-right:12px;}
        #zhu-form .zhu-float{float:left;}
        #zhu-form .zhu-input{width:60%;height:42px;padding:12px 8px;margin:0;float:left;}
  #zhu-form .zhu-input-submit{border:none;color:#fff;}
   @media screen and (max-width: 1280px){
          #zhu-right-main{width:76%;}
        }
   @media screen and (max-width: 1410px){.zhu-floatlq{width:22%;} .zhu-floatlq1{width:78%;} #zhu-form .zhu-floatlq1 .zhu-input{width:70%;}}
  @media screen and (max-width: 1410px){#zhu-right-main .m_title{font-size:16px;}}
      </style>
	<body>
	<include file="Publics:leftbar"/>
		<div id="zhu-right-main" class="left_con_login reset-psw-con" >
			<div class="login_incontent">

				<div class="right_mcontent">

					<div class="mairu">
						<div class="m_title">
							<h4>重置资金密码</h4></div>
						<div class="leftregi">
							<form name="login" id="zhu-form">
								<dl>
                              		<dt class="zhu-float zhu-floatlq"><label for="text">当前手机号</label></dt>
									<dd class="zhu-float zhu-floatlq1"><input disabled type="text" id="mobles_new1" class="texts zhu-email-ma" value="{$user.moble}" style="height:42px;margin:0;width:60%;float:left;">
									<input type="button" id="smsbtn" value="发送短信验证码" class="sub-btn" onclick="sendMessage();" style="width: 160px;font-size: 12px;float:left;margin:2px 0px 0px 10px"/>
                                	</dd>
                                </dl>
                              <dl>
									<dt class="zhu-float zhu-floatlq"><label for="text">验证码</label></dt>
									<dd class="zhu-float zhu-floatlq1"><input class="zhu-input" type="text" name="oldpassword" id="moble_verify_new" value=""></dd>						
									<div style="clear:both"></div>									
							 </dl>
								<dl>
									<dd class="zhu-floatlq zhu-float"><label for="password">旧资金密码</label></dd>
									<dd class="zhu-floatlq1 zhu-float"><input class="zhu-input" type="password" name="oldpaypassword" id="oldpaypassword" value=""></dd>
								</dl>
                              <dl>
                              	<dd class="zhu-float zhu-floatlq"><label for="password">新资金密码</label></dd>
								<dd class="zhu-floatlq1 zhu-float"><input class="zhu-input" type="password" name="password" id="newpaypassword" value=""></dd>
                              </dl>
                              <dl>
                              	 <dd class="zhu-float zhu-floatlq"><label for="password">确认新密码</label></dd>
								 <dd class="zhu-floatlq1 zhu-float"><input class="zhu-input" type="password" name="password" id="repaypassword" value=""></dd>
                              </dl>
                              <dl>
                                <dt class="zhu-float zhu-floatlq"><label for="password"></label></dt>
                                <dd class="zhu-floatlq1 zhu-float"><input type="button" value="提交" class="sub-btn zhu-input zhu-input-submit" style="height:42px; margin-bottom:20px;background:#d45858;" onclick="paypassword_up();"></dd></dl>
                              
							</form>
						</div>
						<!-- login -->
					</div>

				</div>
				<!-- homepost -->
			</div>
			<!-- content -->

		</div>
		<include file="Publics:footer"/>
	</body>
	<!-- <script src="/zhisucom/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script> -->
	<!-- <script src="/zhisucom/js/layer.js" type="text/javascript" charset="utf-8"></script> -->
	<script>
		var InterValObj; //timer变量，控制时间  
		var count = 60; //间隔函数，1秒执行  
		var curCount;//当前剩余秒数 
		function sendMessage() {  
			var mobile = "{$user.moble}"; 
				 //validatemobile(mobile);//调用上边的方法验证手机号码的正确性 
			 $.ajax({  
			 　　type: "POST", //用POST方式传输     　　  
				 dataType: "json", //数据格式:JSON  
				 data: {mobile:mobile},  
			 　　url: "{:U('Login/real')}", //目标地址.   
			 　　success:function(data){
					if(data.status != 1){
						layer.msg(data.info, {icon: 2});
					}
				}
			 });  
				 
			curCount = count;  
		　　//设置button效果，开始计时  
			 $("#smsbtn").attr("disabled", "true"); 
			$("#smsbtn").val("请在" + curCount + "秒内输入验证码");	 
			 InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次  
		　　  //向后台发送处理数据        
		} 	
			//timer处理函数  
		function SetRemainTime() {  
			if (curCount == 0) {                  
				window.clearInterval(InterValObj);//停止计时器  
				$("#smsbtn").removeAttr("disabled");//启用按钮  
				$("#smsbtn").val("重新发送验证码");  
			}  
			else {  
				curCount--;  
				$("#smsbtn").val("请在" + curCount + "秒内输入验证码");				
			}  
		} 
		function paypassword_up() {
				var oldpaypassword = $('#oldpaypassword').val();
				var newpaypassword = $('#newpaypassword').val();
				var repaypassword  = $('#repaypassword').val();
				var moble_verify_new  = $('#moble_verify_new').val();				
				//alert(repaypassword);			
				if (moble_verify_new == '' || moble_verify_new == null) {
					layer.tips("请输入短信验证码", '#moble_verify_new', {tips: 3});
					return false;
				}
				if (oldpaypassword == '' || oldpaypassword == null) {
					layer.tips("请输入旧交易密码", '#oldpaypassword', {tips: 3});
					return false;
				}
				if (newpaypassword == '' || newpaypassword == null) {
					layer.tips("请输入新交易密码", '#newpaypassword', {tips: 3});
					return false;
				}
				if (repaypassword == '' || repaypassword != newpaypassword) {
					layer.tips("请正确输入确认密码", '#repaypassword', {tips: 3});
					return false;
				}

				$.post("/user/uppaypassword_zhisucom.html", {
					oldpaypassword: oldpaypassword,
					newpaypassword: newpaypassword,
					repaypassword : repaypassword,
					moble_verify_new: moble_verify_new,
					type:1
				}, function (data) {
					if (data.status == 1) {
						layer.msg(data.info, {icon: 1});
						window.location = '/Login/loginout';
					//	location.reload();
				
						
					} else {
						layer.msg(data.info, {icon: 2});
						if (data.url) {
							window.location = data.url;
						}
					}
				}, "json");
			}	
	</script>
</html>