<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">C2C交易管理</span>
            <notempty name="name"><span class="h1-title">>><a href="{:U('Trade/invit')}">推广列表</a></span></notempty>
        </div>
        <div class="cf">
            <div class="fl"></div>
            <div class="search-form fr cf">
                <div class="sleft">
                    <form name="formSearch" id="formSearch" method="get" name="form1">
						<!--<select style="width: 160px; float: left; margin-right: 10px;" name="stat" class="form-control">
							<option value=""
							<empty name="Think.get.stat">selected</empty>
							>买卖状态</option>
                            <option value="1" <eq name="Think.get.stat" value="1">selected</eq>>买入</option>
							<option value="2" <eq name="Think.get.stat" value="2">selected</eq>>卖出</option>
						</select>
                         <select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control"> 
							<option value=""
							<empty name="Think.get.status">selected</empty>
							>全部状态</option>
                            <option value="1" <eq name="Think.get.status" value="1">selected</eq>>待匹配</option>
							<option value="2" <eq name="Think.get.status" value="2">selected</eq>>已匹配</option>
							<option value="3" <eq name="Think.get.status" value="3">selected</eq>>待付款</option>
							<option value="4" <eq name="Think.get.status" value="4">selected</eq>>交易成功</option>
                            <option value="5" <eq name="Think.get.status" value="4">selected</eq>>已撤销</option>
						</select>
                        <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
                        <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>-->
                    </form>
                    <script>
                        //搜索功能
                        $(function () {
                            $('#search').click(function () {
                                $('#formSearch').submit();
                            });
                        });
                        //回车搜索
                        $(".search-input").keyup(function (e) {
                            if (e.keyCode === 13) {
                                $("#search").click();
                                return false;
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="data-table table-striped">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">订单号</th>
                    <th class="">买家</th>
                    <th class="">卖家</th>
                    <th class="">市场</th>
                    <th class="">单价</th>
                    <th class="">数量</th>
                    <th class="">总额</th>
                   
                    <th class="">类型</th>
					 <th class="">状态</th>
					<th class="">订单时间</th>
                    <th class="">操作</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>

                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							 <td>{$vo.number}</td>
                            <td><?php $bname=M('User')->where("id=".$vo['bid'])->find();echo $bname['truename'];?></td>
                            <td><?php $sname=M('User')->where("id=".$vo['sid'])->find();echo $sname['truename'];?></td>
                          
                            <td>{$vo.market|strtoupper}</td>
                            <td>{$vo.price|round=2}</td>
                            <td>{$vo.num|round=2}</td>
                            <td>{$vo.cprice|round=2}</td>
                           
                            <td><eq name="vo.type" value="1"><font color="red">买入</font></eq><eq name="vo.type" value="2"><font color="blue">卖出</font></eq></td>
                            <td>
                                <if condition="$vo['is_pay'] eq 1">

                                     <if condition="$vo['is_done'] eq 1">
                                         <font color="gray">已完成</font>
                                     <else />

                                         <eq name="vo['is_get']" value="1">
                                            <font color="gray">已打款</font>
                                         <else/>
                                            <font color="gray">未打款</font>
                                         </eq>
                                     </if>

                                    <else />
                                    <font color="gray">商家挂单</font>
                                </if>


                            </td>
                 
							<td>{$vo.addtime|addtime}</td>
							<td><a href="/Admin/Trade/delete/id/{$vo['id']}" onclick="javascript:if(confirm('确定删除吗？')) {return true;} else {return false;}">删除</a></td>

							
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //导航高亮
        highlight_subnav("{:U('Trade/c2c')}");
    </script>
</block>