<include file="Base:header"/>
<title>大盘交易</title>
<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>交易 <span class="c-gray en">&gt;</span> 大盘交易 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<!-- <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="del(this,'idAll')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="add('添加文章','__MODULE__/Article/edit.html')" href="javascript:;"><i class="Hui-iconfont"></i> 添加文章</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div> -->
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
				<thead>
				<tr class="text-c" id="row1">
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>
					<th class="">用户名</th>
					<th class="">市场</th>
					<th class="">单价</th>
					<th class="">数量</th>
					<th class="">已成交</th>
					<th class="">总额</th>
					<th class="">类型</th>
					<th class="">时间</th>
					<th class="">状态</th>
					<th class="">操作</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr  class="text-c" >
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>
							<td>{$vo['username']}</td>
							<td>{$vo['market']}</td>
							<td>{$vo['price']|Num}</td>
							<td>{$vo['num']|Num}</td>
							<td>{$vo['deal']|Num}</td>
							<td>{$vo['mum']|Num}</td>
							<td>
								<eq name="vo.type" value="1">
									买入
									<else/>
									卖出
								</eq>
							</td>
							<td>{$vo.addtime|addtime}</td>
							<td>
								<eq name="vo.status" value="0">交易中</eq>
								<eq name="vo.status" value="1">已成交</eq>
								<eq name="vo.status" value="2">已撤销</eq>
							</td>
							<td>
								<eq name="vo.status" value="0">
									<a href="{:U('Trade/chexiao?id='.$vo['id'])}" title="撤销"><i class="Hui-iconfont">&#xe603;</i></a>
								</eq> 
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
		</div>	
	</div>
	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="__PUBLIC__/rs/lib/jquery/1.9.1/jquery.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/rs/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/rs/static/h-ui/js/H-ui.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/rs/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__PUBLIC__/rs/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/rs/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/rs/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">

	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"pading":false,
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,10]}// 不参与排序的列
		]
	});


	//刷新页面
	function refresh(){
	window.location.reload();//强制刷新
	}

	/*添加*/
	function add(title,url,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}

	/*编辑*/
	function edit(title,url){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}



	</script> 	
</body>
</html>


