<include file="Base:header"/>
<title>虚拟币转出</title>
<body>
 <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务 <span class="c-gray en">&gt;</span> 虚拟币转出 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

 <div class="page-container"> 
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" onclick="add('导出','__MODULE__/Finance/myzc_out.html')" href="javascript:;"><i class="Hui-iconfont"></i> 导出</a></span><span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
                <tr class="text-c">
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">ID</th>
                    <th class="">用户名</th>
                    <th class="">币种</th>
                    <th width="">申请时间</th>
                    <th width="">转出地址</th>
                    <th width="">转出数量</th>
                    <th class="">提现手续费</th>
                    <th width="">状态</th>
                    <th width="">操作</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                <tr class="text-c">
                    <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                    <td>{$vo.id}</td>
                    <td>{$vo['usernamea']} </td>
                    <td>{$vo.coinname}</td>
                    <td>
                        <empty name="vo['addtime']">
                                ---
                        <else />
                            {$vo.addtime|addtime}
                        </empty>
                    </td>
                    <td>{$vo.username}</td>

                    <empty name="vo['num']">
                            <td style="color: yellowgreen">({$vo['num']})手续费</td>
                        <else />
                            <td>{$vo['num']}</td>
                    </empty>

                    <empty name="vo['num']">
                        <td style="color: yellowgreen">入账:{$vo['fee']}</td>
                        <else />
                        <td>{$vo['fee']}</td>
                    </empty>

                    <td>
                        <eq name="vo.status" value="0">等待处理
                        </eq>

                        <eq name="vo.status" value="1"><span class="label label-success radius">成功</span>

                        </eq>
						
						<eq name="vo.status" value="3"><span class="label label-success radius" style="background:red">已驳回</span>

                        </eq>
                    </td>
                    <td>
                        <eq name="vo.status" value="1">
                            <else/>
                            <empty name="vo['num']">
                              <!--   不用操作 -->
                                <else />
								<eq name="vo.status" value="3">
								<else />
                                <a href="{:U('Finance/myzcQueren?id='.$vo['id'])}" class="ajax-get btn btn-primary btn-xs" title="确认转出"><i class="Hui-iconfont">&#xe603;</i> </a>
								<a href="{:U('Finance/myzcbohui?id='.$vo['id'])}" style="text-decoration:none;background:red" class="ajax-get btn btn-primary btn-xs"  title="禁用"><i class="Hui-iconfont">&#xe6de;</i></a>
								</eq>
						   </empty>
                        </eq>
<!--                         <eq name="vo.status" value="0">
                        <a style="text-decoration:none" onclick="start(this,{$vo.id})"  title="发布" href="javascript:;"><i class="Hui-iconfont">&#xe603;</i></a>
                        </eq>
                        
                        <eq name="vo.status" value="1">
                        <a style="text-decoration:none" onClick="stop(this,{$vo.id})" href="javascript:;" title="禁用"><i class="Hui-iconfont">&#xe6de;</i></a>
                        </eq>
                        
                        
                        <a style="text-decoration:none" class="ml-5" onClick="edit('编辑','__MODULE__/Article/edit/id/'+{$vo.id})" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="del(this,'{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a> -->
                    </td>
                </tr>
                </volist>
                <else/>
                <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
  </div> 
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/rs/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/rs/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/rs/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
  $('.table-sort').dataTable({
    "aaSorting": [[ 1, "desc" ]],//默认第几个排序
    "bStateSave": true,//状态保存
    "pading":false,
   "aoColumnDefs": [
     // {"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
      {"orderable":false,"aTargets":[0,8]}// 不参与排序的列
   ]
 });


 //刷新页面
 function refresh(){
 window.location.reload();//强制刷新
 }

 /*添加*/
 function add(title,url,w,h){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
 }

 /*编辑*/
 function edit(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
 }

 
 </script>   
</body>
</html>
