<include file="Base:header"/>
<style type="text/css">
	.input-text{
		width: 600px;
	}
</style>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" action="{:U('Config/contactEdit')}" method="post" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系号码 :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['contact_moble']}" placeholder="" id="articletitle" name="contact_moble">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新浪微博 :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['contact_weibo']}" placeholder="" id="articletitle" name="contact_weibo">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>微信公众号 :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['contact_weixin']}" placeholder="" id="articletitle" name="contact_weixin">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>微信公众号二维码 :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div id="addpicContainer">
					<notempty name="data.contact_weixin_img">
												<!--没有图片显示默认图片-->
						<img id="up_img" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-height:60px;" title="点击添加图片" alt="点击添加图片" src="/Upload/public/{$data.contact_weixin_img}">
					<else/>
												<!--没有图片显示默认图片-->
						<img id="up_img" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-height:60px;" title="点击添加图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
					</notempty>
					<input type="hidden" id="img" name="contact_weixin_img" value="{$data.contact_weixin_img}">
					<input type="file" id="inputfile" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;opacity:0;" value=""/>
					<span style="width:100px;padding-left:200px;color: red;font-weight: bold;">尺寸100px*100px</span>
				</div>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机版二维码 :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div id="addpicContainer">
					<notempty name="data.contact_app_img">
					<!--没有图片显示默认图片-->
						<img id="up_imga" onclick="getElementById('inputfilea').click()" style="cursor:pointer;max-height:60px;" title="点击添加图片" alt="点击添加图片" src="/Upload/public/{$data.contact_app_img}">
					<else/>
					<!--没有图片显示默认图片-->
						<img id="up_imga" onclick="getElementById('inputfilea').click()" style="cursor:pointer;max-height:60px;" title="点击添加图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
					</notempty>
						<input type="hidden" id="imga" name="contact_app_img" value="{$data.contact_app_img}">
						<input type="file" id="inputfilea" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;opacity:0;" value=""/>
						<span style="width:100px;padding-left:200px;color: red;font-weight: bold;">尺寸100px*100px</span>
				</div>
				
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系QQ :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['contact_qq']}" placeholder="" id="articletitle" name="contact_qq">
			<span style="width:100px;padding-left:200px;color: red;font-weight: bold;">联系QQ 多个用“|”分割</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系QQ群 :</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['contact_qqun']}" placeholder="" id="articletitle" name="contact_qqun">
				<span style="width:100px;padding-left:200px;color: red;font-weight: bold;">联系QQ群 多个用“|”分割</span>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="ajax-post btn btn-primary radius" id="submit" type="submit" target-form="form-horizontal"><i class="Hui-iconfont">&#xe632;</i> 确 定
			</button>
			<!-- <a class="btn btn-default radius" href="{$Think.server.HTTP_REFERER}">返 回</a> -->
			</div>
		</div>
	</form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
// alert(window.parent.location);
// alert(window.location.href);
	//提交表单
	/*$('#submit').click(function () {
		$('#form').submit();
	});*/
	$(function() {
        $("#form-add").ajaxForm(function(data){
        	if (data.status==1) {
        	layer.alert(data.info);
        }else
            layer.alert(data.info);
        },'json');
         
    });
</script>
<script type="text/javascript">
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#inputfile").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#inputfile')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});


			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img').attr("src", '/Upload/public/' + data);
						$('#img').val(data);
						$('#up_img').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#inputfilea").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#inputfilea')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});


			//发送数据
			$.ajax({
				url: '/Admin/Config/image',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_imga').attr("src", '/Upload/public/' + data);
						$('#imga').val(data);
						$('#up_imga').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});
</script>

<!--/请在上方写此页面业务相关的脚本-->
 
</body>
</html>