<include file="Base:header"/>
<style type="text/css" media="all">
    .input-text{
        width: 800px;
    }
    .select-box{
        width: 800px;
    }
</style>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" action="{:U('Config/mobleEdit')}" method="post" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>短信接口URL：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['moble_url']}" placeholder="" id="articletitle" name="moble_url">
				&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ef8b0a;font-weight:bold;">短信接口URL 接口申请地址:<a href="http://www.webchinese.com.cn/" target="_blank">立即申请</a></span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>短信接口名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['moble_user']}" placeholder="" id="articletitle" name="moble_user">
				&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ef8b0a;font-weight:bold;">短信接口用户名</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>短信接口安全码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$C['moble_pwd']}" placeholder="" id="articletitle" name="moble_pwd">
				&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ef8b0a;font-weight:bold;">短信接口安全秘钥</span>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="ajax-post btn btn-primary radius" id="submit" type="submit" target-form="form-horizontal"><i class="Hui-iconfont">&#xe632;</i> 确 定
			</button>
			</div>
		</div>
	</form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
// alert(window.parent.location);
// alert(window.location.href);
	//提交表单
	/*$('#submit').click(function () {
		$('#form').submit();
	});*/
	$(function() {
        $("#form-add").ajaxForm(function(data){
        	if (data.status==1) {
        	layer.alert(data.info);
        }else
            layer.alert(data.info);
        },'json');
         
    });
</script>


<!--/请在上方写此页面业务相关的脚本-->
 
</body>
</html>