<include file="Base:header"/>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <neq name='path.group' value=''><span class="c-gray en">&gt;</span>{$path['group']}</neq><neq name='path.title' value=''><span class="c-gray en">&gt;</span>{$path['title']}</neq><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    </script>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        
        <span class="r">共有数据：<strong>{$count}</strong> 条</span> 
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
                <tr class="text-c" id="row1">
                    <!-- <th width="20"><input type="checkbox" name="" value=""></th> -->
                    <!-- <th width="40">ID</th> -->
                    <th width="70">用户名</th>
                    <th width="170">描述</th>
                    <th width="70">时间</th>
                    <th width="70">工单号</th>
                    
                    <th width="60">状态</th>
                    
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
            
            
            
            <notempty name="list">
                <volist name="list" id="vo">
                <tr class="text-c" >
                   <!--  <td><input type="checkbox" value="{$vo.id}" name="id[]"></td>
                    <td>{$vo.id}</td> -->
                    <td>{$vo['send_user']}</u></td>
                    <td>{$vo['send_content']|substr=0,50}...</td>
                    <td>{$vo['send_time']|date="Y-m-d H:i:s",###}</td>
                    <td>{$vo['worklist_id']}</td>
                    
                    <td>
                        <if condition="$vo['status'] eq 0">
							<span style="color:red">
								未回复
							</span>
						</if>
						<if condition="$vo['status'] eq 1">
							<span style="color:green">
							已回复
							</span>
						</if>
                    </td>
                    


                    <td class="f-14 td-manage">
                        <a style="text-decoration:none"  title="回复" href="{:U('User/workedit?id='.$vo['id'])}"><i class="Hui-iconfont">&#xe603;</i>
                        </a>
                    </td>
                </tr>
                </volist>
                    <else/>
                <tr colspan="12" class="text-center">Oh! 暂时还没有内容!</tr>
                </notempty>
                
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/rs/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/rs/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/rs/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/rs/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
function chk_qianbao() {
        window.location.href = "{:U('Tools/qianbao')}";
    }

$('.table-sort').dataTable({
    "aaSorting": [[ 1, "desc" ]],//默认第几个排序
    "bStateSave": true,//状态保存
    "pading":false,
    "aoColumnDefs": [
      //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
      {"orderable":false,"aTargets":[0,5]}// 不参与排序的列
    ]
});


//刷新页面
function refresh(){
window.location.reload();//强制刷新
}


</script> 

</script> 
</body>
</html>